/* Variáveis de Cores */
:root {
  --background-from: #1f1f1f;
  --background-to: #182540;
  --text-base: #dfeef3;
  --accent-color: #4ed1c0;
  --accent-secondary: #2e91b2;
  --link-color: #007bff;
  --link-hover: #0056b3;
  --cta-shadow: rgba(0, 123, 255, 0.4);
}

/* Reset básico */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos Gerais */
body {
  font-family: 'Rubik', Arial, sans-serif;
  line-height: 1.6;
  background: linear-gradient(
    135deg,
    var(--background-from),
    var(--background-to)
  );
  color: var(--text-base);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* Estilização Global para Links */
a {
  color: var(--accent-color); /* Cor principal para todos os links */
  text-decoration: none; /* Remove o sublinhado */
  transition: color 0.3s ease; /* Transição suave ao passar o mouse */
}

a:hover {
  color: var(--link-hover); /* Cor ao passar o mouse */
}

a:visited {
  color: var(--accent-color); /* Mantém a cor de destaque mesmo após visita */
}

a:focus,
a:active {
  color: var(--accent-secondary); /* Cor ao clicar ou focar */
  outline: none; /* Remove contornos padrão */
}

/* Header */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, var(--cta-shadow), var(--background-to));
  padding: 10px 20px;
  border-bottom: 1px solid var(--cta-shadow);
}

header img {
  max-width: 100px;
  cursor: pointer;
}

.header-link {
  color: var(--accent-color);
  background-color: transparent;
  padding: 10px 20px;
  text-decoration: none;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s;
}

.header-link:hover {
  background-color: var(--accent-secondary);
  color: var(--text-base);
  box-shadow: 0px 4px 8px var(--cta-shadow);
}

/* Main Content */
main {
  width: 100%;
  max-width: 1100px;
  flex: 1;
  margin: 20px auto;
  padding: 20px;
}

/* About Section */
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.about-section article {
  width: 70%;
  line-height: 1.8;
  font-size: 1.1rem;
  color: var(--text-base);
}

.about-section strong {
  color: var(--accent-color);
}

/* Footer */
footer {
  text-align: center;
  width: 100%;
  color: var(--text-base);
  padding: 20px;
  font-size: 0.9rem;
  background-color: var(--background-to);
  border-top: 1px solid var(--cta-shadow);
}
footer a {
  color: var(--accent-secondary);
  text-decoration: none;
  transition: color 0.3s;
}
footer a:hover {
  color: var(--link-hover);
}

/* Responsividade */
@media (max-width: 768px) {
  header img {
    max-width: 80px;
  }

  .about-section article {
    width: 90%;
  }

  .header-link {
    font-size: 0.9rem;
    padding: 8px 15px;
  }
}
