/* Variáveis de Cores */
:root {
  --background-from: #1f1f1f;
  --background-to: #182540;
  --text-base: #dfeef3;
  --accent-color: #4ed1c0;
  --accent-secondary: #2e91b2;
  --link-color: #007bff;
  --link-hover: #0056b3;
  --cta-shadow: rgba(0, 123, 255, 0.4);
}

/* Reset básico */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*? Estilos Gerais */
body {
  font-family: 'Rubik', Arial, sans-serif;
  line-height: 1.6;
  background: linear-gradient(
    135deg,
    var(--background-from),
    var(--background-to)
  );
  color: var(--text-base);
  display: flex; /* Flex container */
  flex-direction: column; /* Alinha em uma coluna (header, conteúdo, footer) */
  justify-content: space-between; /* Distribui verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  min-height: 100vh; /* Garante que ocupe a altura total da tela */
  margin: 0;
}

/*? Estilos Globais para Links */
a {
  color: var(--accent-secondary); /* Define a cor base dos links */
  text-decoration: none; /* Remove o sublinhado, se desejado */
  transition: color 0.3s ease; /* Transição suave para estados */
}

a:hover {
  color: var(--accent-color); /* Cor no estado hover */
}

/*? Contêiner Principal */
main {
  width: 100%;
  max-width: 1100px;
  flex: 1; /* Faz com que o main ocupe o espaço restante entre header e footer */
  display: flex;
  flex-direction: column; /* Conteúdo interno em coluna */
  margin: 0 auto;
  padding: 20px;
}

article {
  margin-top: 20px;
  width: 70%;
  text-align: justify;
  align-self: center;
}

/* Seção de Produtos */
.product-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

/* Card do Produto */
.product-card {
  display: flex;
  align-items: center;
  background: linear-gradient(
    135deg,
    var(--cta-shadow),
    var(--accent-secondary)
  );
  border-radius: 10px;
  padding: 20px;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  color: var(--text-base);
}

.product-card:hover {
  transform: scale(1.02);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  background: linear-gradient(
    135deg,
    var(--link-hover),
    var(--accent-secondary)
  );
}

.product-banner {
  max-width: 120px;
  border-radius: 8px;
  margin-right: 20px;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-title {
  color: var(--text-base);
  font-size: 1.3rem;
  font-weight: 700;
}

.product-cta {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--text-base);
}

/* Responsividade */
@media (max-width: 768px) {
  .product-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .product-banner {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .product-info {
    align-items: center;
  }
}

header {
  width: 100%;
  background: linear-gradient(135deg, var(--cta-shadow), var(--background-to));
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid var(--cta-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  max-width: 100px;
  align-self: center;
}

footer {
  text-align: center;
  width: 100%;
  color: var(--text-base);
  padding: 20px;
  font-size: 0.9rem;
  background-color: var(--background-to);
  border-top: 1px solid var(--cta-shadow);
  margin-top: 30px;
  border-radius: 0 0 10px 10px;
}

.header-link {
  color: var(--accent-color);
  background-color: transparent;
  padding: 10px 20px;
  text-decoration: none;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s;
}

.header-link:hover {
  background-color: var(--accent-secondary);
  color: var(--text-base);
  box-shadow: 0px 4px 8px var(--cta-shadow);
}
