<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Site.Params.subtitulo }}" />
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" />
    <link rel="icon" href="{{ "favicon.png" | relURL }}" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <img
        src="{{ .Site.Params.logo | relURL }}"
        alt="Logo do Produto"
        onclick="window.location.href='/'"
        style="cursor: pointer;"
      />
      <a
        href="https://instagram.com/meufuturo.shop"
        target="_blank"
        class="header-link"
      >
        Instagram
      </a>
    </header>

    <main>
      {{ block "main" . }}{{ end }}
    </main>

    <footer>
      <p>
        &copy; {{ now.Format "2006" }} <strong>meufuturo.shop</strong><br />Todos
        os direitos reservados.
      </p>
      <p>
        <a href="{{ "privacy" | relURL }}">Política de Privacidade</a> |
        <a href="{{ "terms" | relURL }}">Termos de Serviço</a>
      </p>
    </footer>
  </body>
</html>
